body {
    margin: 2vw;
    background-color: rgb(240, 231, 240);
    outline: solid #fca838;
    overflow-x: hidden;
    margin-top: 2vw;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
    font-family: lalezar;
    color: #AC93CF;
}

#menu {
    position: absolute;
    transform-origin: top right;
    z-index: 2;
    text-align: right;
    transition: transform 0.3s;
    list-style: none;
    top: 6vw;
    left: 70vw;
}

li {
    padding-bottom: 0vw;
}

a:link {
    color: #fca838;
    text-decoration: none;
    font-family: lalezar;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited {
    color: #fca838;
}

a:hover:hover {
    color: black;
}

a:active {
    color: black;
}


a img {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 4vw;
    left: 2vw;
}

img.overskrift {
    margin-top: 23vw;
    width: 85%;
    margin-left: 7vw;
    margin-bottom: 0vw;
}

h2 {
    font-family:
        'Open Sans',
        sans-serif;
}

p {
    font-family:
        'Open Sans',
        sans-serif;
    text-justify: inter-word;
}

ul {
    font-family:
        'Open Sans',
        sans-serif;
}



#second_section {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
}

.form_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    padding: 1.5rem;
    background: rgba(172, 147, 207, 0.62);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 35vw;
}

article {
    padding-right: 2vw;
    border-right: 2px solid #fca838;
}

label,
input,
textarea,
button {
    display: block;
}

.felt {
    margin-bottom: 1rem;
}



@media (min-width:1280px) {
    body {
        margin: 2vw;
        margin-top: -1vw;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    nav {
        margin-top: 4vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 60vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: -10px;
        margin-top: -10px;
        margin-top: -10px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 0vw;
    }

    a {
        display: block;
        padding-left: 0px;
    }

    a:link {
        color: #fca838;
    }

    a.site3:link {
        color: #fca838;
    }

    a:visited {
        color: #fca838;
    }

    a.site3:visited {
        color: black;
    }

    a:hover {
        color: black;
    }

    a.site3:hover {
        color: black;
    }

    a:active {
        color: white;
    }


    img.overskrift {
        display: flex;
        margin-top: 8vw;
        width: 53%;
        margin-left: 24vw;
        margin-bottom: 4vw;
    }

    p {
        font-size: 18px;
    }

    .form_section {
        margin-bottom: 4vw;
    }

}
