body {
    margin: 2vw;
    background-color: rgb(240, 231, 240);
    outline: solid orange;
    overflow-x: hidden;
    margin-top: 2vw;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
    font-family: lalezar;
    color: #AC93CF;
}

#menu {
    position: absolute;
    transform-origin: top right;
    z-index: 2;
    text-align: right;
    transition: transform 0.3s;
    list-style: none;
    top: 6vw;
    left: 70vw;
}

li {
    padding-bottom: 3vw;
}

a:link {
    color: orange;
    text-decoration: none;
    font-family: lalezar;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited {
    color: orange;
}

a:hover:hover {
    color: black;
}

a:active {
    color: black;
}


a img {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 4vw;
    left: 2vw;
}

img.overskrift {
    margin-top: 20vw;
    width: 85%;
    margin-left: 9vw;
    margin-bottom: 4vw;
}

h2 {
    font-family:
        'Open Sans',
        sans-serif;
}

p {
    text-justify: inter-word;
}

/*_________________________second_section________________________________*/
#second_section {
    margin: 5vw;
}

#second_section h2 {
    margin-top: 0vw;
    margin-left: 0vw;
    text-align: center;
}

#second_section .col1 img {
    width: 100%;
}


#second_section .col2 img {
    width: 73%;

}

#second_section .col2 p {
    margin-top:
}

#second_section .row1 {
    display: grid;
    grid-template-columns: 20% 80%;
}

#second_section .row2 {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 4vw;
    margin-bottom: 20vw;
}

#second_section .col2 p.mail {
    margin-left: -1vw;
    margin-top: 2vw;
    font-size: 18px;
}

#second_section .row2 img.phone {
    margin-top: -3vw;
}

#second_section .col2 p.telefon {
    margin-top: 1vw;
    margin-left: -1vw;
}

/*_________________________third_section________________________________*/
#third_section {
    margin: 5vw;
}

h3 {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

#third_section img {
    width: 80%
}


#third_section .section_wrapper .row1 {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 10vw;
}

#third_section .section_wrapper .row1 .col2 {
    margin-left: 10vw;
}

#third_section .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr%;
    margin-bottom: 10vw;
}

#third_section .section_wrapper .row2 {
    display: grid;
    grid-template-columns: 20% 80%;
}

#third_section .section_wrapper .row2 .col1 {
    margin-top: 4vw;
    margin-left: 2vw;
    width: 100%
}

#third_section .section_wrapper .row2 .col2 {
    margin-left: 10vw;
}

#third_section .section_wrapper .col2 .row1 .col1 {
    margin-left: 0vw;
    margin-top: 4vw;
    width: 120%
}

#third_section .section_wrapper .col2 .row2 .col1 {
    margin-left: 4vw;
    margin-top: 0vw;
    width: 70%;
}



@media (min-width:1280px) {
    body {
        margin: 2vw;
        margin-top: -1vw;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    nav {
        margin-top: 4vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 60vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: 40px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 3vw;
    }

    a {
        display: block;
        padding-left: 0px;
    }

    a:link {
        color: #f39200;
    }

    a.site2:link {
        color: #f39200;
    }

    a:visited {
        color: #f39200;
    }

    a.site2:visited {
        color: black;
    }

    a:hover {
        color: black;
    }

    a.site2:hover {
        color: black;
    }

    a:active {
        color: white;
    }


    img.overskrift {
        display: flex;
        margin-top: 8vw;
        width: 55%;
        margin-left: 23vw;
        margin-bottom: 9vw;
    }

    p {
        font-size: 20px;
    }

    /*_________________________second_section________________________________*/

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: -4vw;
        margin-bottom: -10vw;
    }

    #second_section .col2 {
        margin-top: 3vw;
        margin-left: 4vw;
    }

    #second_section h2 {
        margin-top: 2vw;
        margin-left: 0vw;
        text-align: left;
    }

    #second_section .col2 img {
        width: 57%;
    }

    #second_section .row2 {
        display: grid;
        grid-template-columns: 20% 80%;
        margin-top: 1vw;
    }

    #second_section .col2 p.mail {
        margin-left: -2vw;
        margin-top: 0.5vw;
    }

    #second_section .row2 img.phone {
        margin-top: 0vw;
    }

    #second_section .col2 p.telefon {
        margin-top: 1vw;
        margin-left: -2vw;
    }

    /*_________________________third_section________________________________*/

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-right: 5vw;
    }

    #third_section .section_wrapper .row1 {
        display: grid;
        grid-template-columns: 20% 80%;
        margin-bottom: 6vw;

    }

    #third_section img {
        width: 80%;
        margin-left: 7vw;
        margin-top: -1vw;
    }

    #third_section .section_wrapper .col2 .row1 .col1 {
        margin-left: 0vw;
        margin-top: 2vw;
        width: 120%
    }

    #third_section .section_wrapper .row2 .col1 {
        margin-top: 4vw;
        margin-left: 0vw;
        width: 100%;
    }

    #third_section .section_wrapper .row2 .col1 {
        margin-top: 4vw;
        margin-left: 0vw;
        width: 100%;
    }

    #third_section .section_wrapper .col2 .row2 .col1 {
        margin-left: 2vw;
        margin-top: 0vw;
        width: 70%;
    }
}
