body {
    margin: 2vw;
    background-color: rgb(240, 231, 240);
    outline: solid #fca838;
    overflow-x: hidden;
    margin-top: 2vw;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
    font-family: lalezar;
    color: #AC93CF;
    cursor: pointer;
}

#menu {
    position: absolute;
    transform-origin: top right;
    z-index: 2;
    text-align: right;
    transition: transform 0.3s;
    list-style: none;
    top: 10vw;
    left: 70vw;
}

li {
    padding-bottom: 0vw;
}

a:link {
    color: #fca838;
    text-decoration: none;
    font-family: lalezar;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited {
    color: #fca838;
}

a:hover:hover {
    color: black;
}

a:active {
    color: black;
}

a img {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 4vw;
    left: 2vw;
}

.forsidetekst {
    width: 90%;
    margin-left: 6vw;
}

.forsidebillede {
    width: 100%;
    margin-top: 20vw;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 10vw;
}

a.portfolio {
    color: white;
    background-color: #fca838;
    text-align: center;
    margin-left: 28vw;
    margin-right: 29vw;
    font-size: 18px;
    padding: 2vw 2vw;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-top: 5vw;
    margin-bottom: 15vw;
}

a.portfolio:hover {
    color: #fca838;
    background-color: rgb(240, 231, 240);
    border: solid #fca838;
    padding: 1.5vw 1.5vw;
    margin-left: 27vw;
    margin-right: 29vw;
    font-size: 18px;
    display: flex;
    margin-top: 5vw;
    margin-bottom: 15vw;
}













@media (min-width:1280px) {
    body {
        margin: 2vw;
        margin-top: -1vw;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    nav {
        margin-top: 4vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 60vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: -10px;
        margin-top: -10px;
        margin-top: -10px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 0vw;
    }

    a {
        display: block;
        padding-left: 0px;
    }

    a:link {
        color: #fca838;
    }

    a:visited {
        color: #fca838;
    }

    a:hover {
        color: black;
    }

    a:active {
        color: white;
    }


    .forsidebillede {
        width: 40%;
        margin-top: 0vw;
        margin-left: 30vw;
        margin-bottom: 0vw;
    }

    .forsidetekst {
        width: 55%;
        margin-top: -3vw;
        margin-left: 23vw;
        display: flex;
    }

    h1 {

        font-size: 40px;
        text-align: center;
        margin-top: 5vw;
    }

    a.portfolio {
        margin-left: 40vw;
        margin-right: 37vw;
        font-size: 25px;
        padding: 1vw 1vw;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        display: flex;
        margin-top: 3vw;
        margin-bottom: 0vw;
        color: white;
    }

    a.portfolio:hover {
        margin-left: 40vw;
        margin-right: 37vw;
        font-size: 25px;
        padding: 0.75vw 0.75vw;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        display: flex;
        margin-top: 3vw;
        margin-bottom: 0vw;
        color: #fca838;
    }
}
