body {
    margin: 2vw;
    background-color: rgb(240, 231, 240);
    outline: solid orange;
    overflow-x: hidden;
    margin-top: 2vw;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
    font-family: lalezar;
    color: #AC93CF;
    cursor: pointer;
}

#menu {
    position: absolute;
    transform-origin: top right;
    z-index: 2;
    text-align: right;
    transition: transform 0.3s;
    list-style: none;
    top: 6vw;
    left: 70vw;
    cursor: pointer;
}

li {
    padding-bottom: 3vw;
}

a:link {
    color: orange;
    text-decoration: none;
    font-family: lalezar;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited {
    color: orange;
}

a:hover:hover {
    color: black;
}

a:active {
    color: black;
}


a img.logo {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 4vw;
    left: 2vw;
}


img.overskrift {
    margin-top: 20vw;
    width: 85%;
    margin-left: 9vw;
    margin-bottom: 4vw;
}

.section_wrapper.img {
    margin-bottom: 2vw;
}

img.pilot {
    margin-bottom: 3vw;
}


.section_wrapper img {
    margin-left: 0vw;
    margin-right: 15vw;
}


section_wrapper figure {
    width: 100%;
    cursor: pointer;
}




@media (min-width:1280px) {
    body {
        margin: 2vw;
        margin-top: -1vw;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {
        background-color: none;
        background: none;
    }

    nav {
        margin-top: 4vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 60vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: 40px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 3vw;
    }

    a {
        display: block;
        padding-left: 0px;
    }

    a:link {
        color: #f39200;
    }

    a.site1:link {
        color: #f39200;
    }

    a:visited {
        color: #f39200;
    }

    a.site1:visited {
        color: black;
    }

    a:hover {
        color: black;
    }

    a.site1:hover {
        color: black;
    }

    a:active {
        color: white;
    }

    img.overskrift {
        display: flex;
        margin-top: 8vw;
        width: 55%;
        margin-left: 23vw;
    }

    .first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 45px;
        grid-row-gap: -10px;
        margin-right: 18vw;
        margin-left: 15vw;
    }

    .section_wrapper img {
        margin-left: 0vw;
        margin-right: 0vw;
    }
}
