body {
    margin: 2vw;
    background-color: rgb(240, 231, 240);
    outline: solid #fca838;
    overflow-x: hidden;
    margin-top: 2vw;
}

/*_________________________burgermenu________________________________*/
.hidden {
    opacity: 0;
    transform: translateX(100%);
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: 2vw;
    left: 90vw;
    font-size: 30px;
    font-family: lalezar;
    color: #AC93CF;
    cursor: pointer;
}

#menu {
    position: absolute;
    transform-origin: top right;
    z-index: 2;
    text-align: right;
    transition: transform 0.3s;
    list-style: none;
    top: 6vw;
    left: 70vw;
}

li {
    padding-bottom: 3vw;
}

a:link {
    color: #fca838;
    text-decoration: none;
    font-family: lalezar;
    text-transform: uppercase;
    cursor: pointer;
}

a:visited {
    color: #fca838;
}

a:hover:hover {
    color: black;
}

a:active {
    color: black;
}

/*_________________________logo________________________________*/
a img {
    position: absolute;
    width: 12.5%;
    z-index: 2;
    top: 4vw;
    left: 2vw;
}

/*_________________________tilbage-pil________________________________*/
a img.tilbage_pil {
    width: 6%;
    margin-top: 11vw;
    margin-left: 2vw;
    cursor: pointer;
}

a p.tilbageknap {
    color: #fca838;
    font-family: lalezar;
    text-transform: uppercase;
    margin-left: 9vw;
    cursor: pointer;
    margin-top: 0vw;
    padding-top: 14vw;
    margin-bottom: -3vw;
}

/*_________________________overskrift________________________________*/
h1 {
    color: #fca838;
    font-family: lalezar;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 0vw;
    padding-top: 0vw;
    margin-bottom: -7vw;
    margin-left: 4vw;
}

h2.overskrift {
    font-family: lalezar;
    text-transform: uppercase;
    color: #AC93CF;
    margin-top: -7vw;
    text-align: center;
    margin-left: 4vw;

}

/*_________________________first_section________________________________*/
#first_section {
    margin: 5vw;
}

h2 {
    font-family:
        'Open Sans',
        sans-serif;
}

p {
    text-justify: inter-word;
}

#first_section .col2 {
    margin-top: -10vw;
}

/*_________________________second_section________________________________*/
#second_section {
    margin: 5vw;
}

#second_section h2 {
    margin-top: -4vw;
    margin-left: 4vw;
}



/*_________________________firefox-mobil________________________________*/
@media (max-width:450px) {
    h2.overskrift {
        margin-bottom: 0vw;
    }

    a img.tilbage_pil {
        margin-top: 11.5vw;
    }

    a p.tilbageknap {
        margin-top: 3vw;
        padding-top: 13vw;
    }
}





/*_________________________desktop-version________________________________*/
@media (min-width:1280px) {
    body {
        margin: 2vw;
        margin-top: -1vw;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    nav {
        margin-top: 4vw;
    }

    #menu {
        flex-direction: row;
        top: -1vw;
        left: 60vw;

    }

    li {
        float: left;
    }


    nav a {
        font-size: 30px;
        margin: 40px;
        font-family: Acumin pro thin;
        text-decoration: none;
        text-align: center;
        padding-left: 60px;
        padding-bottom: 20px;
        margin-top: 3vw;
    }

    a {
        display: block;
        padding-left: 0px;
    }

    a:link {
        color: #fca838;
    }

    a.site2:link {
        color: #fca838;
    }

    a:visited {
        color: #fca838;
    }

    a.site2:visited {
        color: black;
    }

    a:hover {
        color: black;
    }

    a.site2:hover {
        color: black;
    }

    a:active {
        color: white;
    }

    a img.tilbage_pil {
        width: 4%;
        margin-top: 15.5vw;
        margin-left: 1vw;
        cursor: pointer;
    }

    a p.tilbageknap {
        color: #fca838;
        font-family: lalezar;
        text-transform: uppercase;
        margin-left: 6vw;
        cursor: pointer;
        margin-top: 0vw;
        padding-top: 13.5vw;
        font-size: 22px;
    }

    h1 {
        font-size: 120px;
        margin-top: -16vw;
        padding-top: 0vw;
        margin-bottom: -7vw;
        margin-left: 4vw;
    }

    h2.overskrift {
        font-size: 50px;
        margin-top: 2vw;
        text-align: center;
        margin-left: 4vw;
        margin-bottom: 0vw;

    }

    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #first_section .col2 {
        margin-top: -5vw;
    }

    p {
        font-size: 20px;
    }

    /*_________________________second_section________________________________*/

    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
